
ray[tune]==2.1.0
matplotlib
imageio
numpy==1.24.4
ipdb
redis
ipython
tqdm
tensorboard
packaging
gymnasium[mujoco]
hyperopt
stable-baselines3==2.1.0
tbparse
flatdict
gitpython
flatten_dict
gymnasium-robotics
GitPython